a {
    font-family: Nunito !important;
    font-size: 1.2rem !important;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.goback b:hover {
    opacity: 50% !important;
}

h3 {
    font-family: Nunito !important;
    font-weight: bold !important;
    color: #3F3D56 !important;
    margin-bottom: 0;
}

label, input {
    font-family: Nunito !important;
    color: #3F3D56 !important;
    margin-bottom: 0;
}